body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* common */

header h1 {
  text-align: center;
  font-size: 2em;
}

header {
	margin-bottom: 5px;
}

#content01, #content02, #content03{
  position: relative;
	padding: 5px 15px;
  height: auto;
  border: solid 1px #000000;
  background-color: gray;
}

#content01 h2, #content02 h2, #content03 h2{
  font-size:20px;
  border-bottom: solid 1px #000000;
  border-left: solid 1px #000000;
  position: absolute;
  right:0px;
  text-align: center;
  width: 30%;
  top:0px;
  height :30px;
  box-sizing:border-box;
  padding: 5px;
  margin: 0px;
}

#content01 p, #content02 p, #content03 p {
  color:black;
  border: 1px;
  padding-top:20px;
}

/* content01 */
#content01 h2{
  background-color: #FF69B4;
}

/* content02 */

#content02 h2{
    background-color: red;
    color:white;
}

/* content03 */

#content03 h2{
    background-color: yellow;
}

/*****
MEDIA QUERIES
*****/
/* for 992px or more */
@media (min-width: 992px) {

	#pagewrap {
		width: 100%;
	}

	#content01 {
    box-sizing: border-box;
		width: 30%;
		margin: 2% 1.11% 2% 2.22%;
    float: left;
	}

	#content02 {
    box-sizing: border-box;
		width: 30%;
		margin: 2% 1.11% 2% 1.11%;
    float: left;
	}

	#content03 {
    box-sizing: border-box;
    float:right;
    width: 30%;
		margin: 2% 2.22% 2% 1.11%;
	}

}

/* between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px)  {

	#content01 {
    box-sizing: border-box;
		width: 47%;
    margin: 2% 1% 1% 2%;
		float: left;
	}

	#content02 {
    box-sizing: border-box;
    width: 47%;
    margin: 2% 2% 1% 1%;
		float: right;
	}

	#content03 {
    box-sizing: border-box;
		width: 96%;
    margin: 1% 2% 2% 2%;
    float:right;
	}

}

/* between 0px and 767px */
@media screen and (min-width: 0px) and (max-width: 767px)  {


  #content01 {
    box-sizing: border-box;
		width: 96%;
    margin: 2% 2% 1% 2%;
		float: left;
	}

	#content02 {
    box-sizing: border-box;
		width: 96%;
    margin: 1% 2% 1% 2%;
		float: left;
	}

	#content03 {
    box-sizing: border-box;
		width: 96%;
    margin: 1% 2% 1% 2%;
		float: right;
	}
}
